# Server
PORT=3000
NODE_ENV=development
TIME_ZONE="America/Lima"
SITE_URL="http://localhost:3000"
API_URL="https://your-production-domain.com"

# Initial admin credentials
ADMIN_USERNAME="your-admin-username"
ADMIN_EMAIL="your-admin-email"
ADMIN_PASSWORD="your-admin-password"

# Session
SESSION_SECRET="your-session-secret"
SESSION_KEY_PREFIX="your-redis-prefix" # must have : at the end, example: sess:
USER_SESSION_SET_PREFIX="your-user-sessions-redis-prefix" # must have : at the end, example: user_sessions:

# Database
DATABASE_URL="mysql://user:password@localhost:3306/dbname"

# Redis
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD="your-redis-password"
