# Server
PORT=3000
NODE_ENV=development
TIME_ZONE="America/Lima"
SITE_URL="http://localhost:3000"
API_URL="https://your-production-domain.com"

# Session
SESSION_SECRET="your-session-secret"
SESSION_REDIS_PREFIX="your-redis-prefix" # must have : at the end, example: sess:

# Database
DATABASE_URL="mysql://user:password@localhost:3306/dbname"

# Redis
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD="your-redis-password"
